<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <!-- form title -->
      <div class="x_title">
        <h2>Course Form <small>{{ courseId ? 'Edit' : 'New' }}</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a></li>
              <li><a href="#">Settings 2</a></li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- form content -->
      <div class="x_content">
        <br />
	      <form class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Subject</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" ng-model="course.subject">
                <option>Choose option</option>
                <option ng-repeat="subject in subjectList" value="{{ subject._id }}">{{ subject.title.vi }}</option>
              </select>
            </div>
	        </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Topic</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" ng-model="course.topic">
                <option>Choose option</option>
                <option ng-repeat="topic in topicList" value="{{ topic._id }}">{{ topic.title.vi }}</option>
              </select>
            </div>
	        </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Title<span class="required">*</span></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="Course title" ng-model="course.title">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description<span class="required">*</span></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" rows="3" placeholder="Course description" ng-model="course.description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Level</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" ng-model="course.level">
                <option>Choose option</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
                <option value="Expert">Expert</option>
              </select>
            </div>
	        </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Authors</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="select2_multiple form-control" multiple="multiple" ng-model="course.authors">
                <option>Choose option</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Thumbnail</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="Path to course thumbnail" ng-model="course.thumbnail">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Material</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="Path to course material zip file" ng-model="course.material">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Released Date<span class="required">*</span></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" rows="3" placeholder="Released date"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label">Free</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="flat" ng-model="course.isFree"> Check if course is free
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Price</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="Course price" ng-model="course.price">
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

              